<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select File</title>
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/style1.css')}}">
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label>Select Files</label>
        <input type="file" name="file"><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>