<!DOCTYPE html>
<html>
<head>
    <title>Student Grade Calculator</title>
</head>
<body>

<h2>Student Grade Calculator</h2>

<form action="/grade" method="POST">

    Name:
    <input type="text" name="name" required><br><br>

    English:
    <input type="number" name="english" required><br><br>

    Maths:
    <input type="number" name="maths" required><br><br>

    Science:
    <input type="number" name="science" required><br><br>

    <input type="submit" value="Calculate Grade">

</form>

</body>
</html>


